/* Base Rules */

body {
  font-family: 'Open Sans', helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* TopBar Component */

.TopBar {
  background: black;
  height: 1.618rem;
}

.TopBar__link {
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 14px;
  height: 1.618rem;
  line-height: 1.618rem;
  padding-left: 1.618rem;
  position: relative;
  width: 116px;
}

.TopBar__link::after {
  background: rgba(255, 255, 255, .25);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width .2s cubic-bezier(0.77, 0, 0.175, 1);
  width: 0;
}

.TopBar__link:active::after {
  background-color: white;
  color: black;
  content: "Bye now!";
  text-align: center;
}

.TopBar__link:hover::after {
  transition: width .2s cubic-bezier(0.77, 0, 1.75, 1);
  width: 116px;
}

/* ProductGallery component */

.ProductGallery {
  margin: 0 auto 4.854rem;
  max-width: 70%;
}

.ProductGallery__header {
  border-bottom: 1px solid grey;
  line-height: 1.618rem;
  margin: 1.618rem 0;
  padding: 0 0 .809rem;
}
.ProductGallery__row {
  display: flex;
}

/* Product component */

.Product {
  padding: 0.202rem;
}

.Product__photo {
  width: 100%;
}

.Product__name,
.Product__detail,
.Product__addToCart {
  font-size: 13px;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
}

.Product__addToCart {
  background: black;
  border: 1px solid white;
  border-radius: 1px;
  color: white;
  cursor: pointer;
  margin: .405rem 0;
  padding: .405rem .809rem;
  text-transform: lowercase;
}

.Product__addToCart:hover {
  background: white;
  border: 1px solid black;
  color: black;
}

/* Cart component */

.Cart {
  margin: 0 auto 4.854rem;
  max-width: 70%;
}

.Cart__header {
  border-bottom: 1px solid grey;
  line-height: 1.618rem;
  margin: 1.618rem 0 .809rem;
  padding: 0 0 .809rem;
}

.Cart__row--header,
.Cart__row--item .CartItem,
.Cart__row--subtotal {
  display: flex;
  font-size: 12px;
  padding: 1.618rem 0;
}

.Cart__row--header {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

.Cart__row--subtotal {
  align-items: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  justify-content: space-between;
  padding: 0.809rem 0;
}

.Cart__col--item {
  width: 50%;
}

.Cart__col--price {
  width: 10%;
}

.Cart__col--qty,
.Cart__col--total {
  width: 20%;
}

.Cart__promo,
.Cart__continue-shopping,
.Cart__subtotal {
  width: 33.33%;
}

.Cart__promo input[name="promo-code"] {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.618rem;
  padding-left: .404rem;
  width: 75%;
}

.Cart__continue-shopping {
  text-align: center;
}

.Cart__continue-shopping:hover {
  text-decoration: underline;
}

.Cart__continue-shopping:active {
  border: 1px solid black;
  line-height: 1.618rem;
  padding: .404rem;
  text-decoration: none;
}

.Cart__subtotal {
  text-align: right;
}

.Cart__checkout {
  background: black;
  border: 1px solid white;
  border-radius: 1px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2.427rem;
  margin: 2.427rem auto;
  padding: 0 6.472rem;
  text-transform: uppercase;
}

.Cart__checkout:hover {
  background: white;
  border: 1px solid black;
  color: black;
}

/* CarItem Component */

.CartItem__detail {
  display: flex;
}

.CartItem__photo {
  width: 33.33%
}

.CartItem__description {
  box-sizing: border-box;
  padding: 0 .809em;
  width: 66.66%;
}

.CartItem__qty input[name="qty"] {
  box-sizing: border-box;
  height: 2.427rem;
  line-height: 2.427rem;
  padding-left: .404rem;
  width: 60px;
}

.CartItem__removeItem {
  color: grey;
  display: block;
  font-size: 12px;
  margin: 1.618rem 0;
  text-decoration: none;
}
